.footer {
    padding: 20px;
    position: fixed;
    bottom: 0;
    max-height: 100px;
}

.footer svg {
    cursor: pointer;
    margin-left: 1rem;
}

@media(max-width: 500px) {
    .footer {
        position: unset;
    }
}