.mainPanel {
    flex: 1 1 auto;
    max-width: var(--max-width);
    width: 100%;
    font-family: var(--font-family);
    margin-top: 2rem;
    text-align: center;
    color: var(--text-color);
}

.noNfts, 
.errorSpan {
    font-size: 20px;
    display: block;
    padding: 2rem;
}

@media(max-width: 500px) {
    .mainPanel {
        margin-top: 1rem;
    }
}