.searchBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 3rem;
}

.searchBar input {
    flex: 1 1 auto;
    text-align: center;
    font-size: 18px;
    border-radius: var(--buton-border);
    background: var(--card-hover-background);
    color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all 0.3s ease 0s;
    width: 100%;
}

